.contents-container
  .wrapper
    .articles
      - @articles.each do |article|
        .article
          .article__image
            = link_to root_path do
              - if article.image.present? 
                = image_tag article.image.url
              - else 
                = image_tag 'no_image.jpg', size: '320x180'
          .article__texts
            .article__texts__title
              = article.title
            .article__texts__text
              = article.text
            .article__texts__more
              = link_to "/articles/#{article.id}" do
                続きを読む
            .article__texts__info
              .article__texts__info__user
                = link_to root_path do
                  by test_user
              .article__texts__info__counts
                .article__texts__info__counts__favs
                  = fa_icon "thumbs-up"
                  = article.likes.count
                .article__texts__info__counts__comments
                  = fa_icon "comment"
                  = article.comments.count
    = render "shared/ranking"