.navbar
  .nav-container
    .title
      = link_to root_path do
        MediPark
    .right-box
      .right-box__favs
        = link_to root_path do
          = fa_icon "heart"
          いいね！
      .right-box__post
        = link_to new_article_path do
          = fa_icon "edit"
          投稿する
      .right-box__profile
        = link_to root_path do
          = fa_icon "user-circle"
          プロフィール
      .right-box__log-out
        = link_to root_path do
          = fa_icon "sign-out"
          ログアウト