.ranking
  .ranking__header
    = fa_icon "crown"
    いいねランキング
  - @ranking.each do |article|
    .ranking__article
      .ranking__article__image
        = fa_icon "user 2x"
      .ranking__article__texts
        .ranking__article__texts__title
          = link_to "/articles/#{article.id}" do
            = article.title
        .ranking__article__texts__info
          by test_user 2019年11月2日
      .ranking__article__icons
        .ranking__article__icons__favs
          = fa_icon "thumbs-up"
          = article.likes.count
        .ranking__article__icons__comments
          = fa_icon "comment"
          = article.comments.count